.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  margin: 0;
  padding: 2rem;
  max-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

button {
  margin-right: 1rem;
}

button.close {
  position: absolute;
  top: 16px;
  right: 16px;
  margin: 0;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.2);
  opacity: 0.9;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 32px;
}

button.close:hover {
  background: rgba(255, 255, 255, 0.3);
  opacity: 1;
}

.container {
  max-width: 1440px;
    margin: 0 auto;
}

.root {
  position: relative;
} 

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 350px;
  gap: 20px;
  grid-auto-flow: row dense;
}

.grid.active .item {
  /* box-shadow: none; */
  /* opacity: 0; */
}

.grid.dropzone {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 2;
}

.grid.dropzone.big {
  /* border: 1px solid black; */
}

.item.card.dragger {
 position: absolute;
 inset: 0;
 display: flex;
 align-items: center;
 justify-content: center;
 border-radius: 8px; 
 cursor: grabbing;
 /* transition: 0.2s ease transform; */
 min-height: 350px;
 z-index: 2;
}

.item {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.item .body {
  flex-grow: 1;
  flex-shrink: 0;
  justify-self: flex-start;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.item .footer {
  background: white;
  color: black;
  padding: 16px 24px;
  display: flex;
  align-items: space-between;
  width: 100%;
  justify-self: flex-end;
}

.item.drop {
  border-radius: 8px;
  pointer-events: none;
}

.item.drop.small {
  /* box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.4); */
}

.item.drop.big {
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.4);
  grid-column: span 2;
  grid-row: span 2;
}

.item.card {
  position: relative;
  cursor: grab;
  border-radius: 8px;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075);
}

.item.card.big {
  grid-column: span 2;
  grid-row: span 2;
}
